<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script th:src="@{/js/jquery-2.1.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/vue.min.js}" type="text/javascript"></script>
    <script th:src="@{/lib/layui/layui.js}" type="text/javascript"></script>
    <script th:src="@{/js/xadmin.js}" type="text/javascript"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <br>
    <el-form :model="seedInfo" ref="seedInfo" label-width="150px" class="demo-ruleForm">
        <el-form-item label="名称：" prop="seed_name">
            <el-input v-model="seedInfo.seed_name" ></el-input>
        </el-form-item>
        <el-form-item label="类型：" prop="seed_type">
            <el-input v-model="seedInfo.seed_type"></el-input>
        </el-form-item>
        <el-form-item label="价格：" prop="seed_price">
            <el-input v-model="seedInfo.seed_price"></el-input>
        </el-form-item>
        <el-form-item label="生长季节：" prop="seed_season">
            <el-input v-model="seedInfo.seed_season"></el-input>
        </el-form-item>
        <el-form-item label="成熟时间（天）：" prop="seed_maturation_time">
            <el-input v-model="seedInfo.seed_maturation_time"></el-input>
        </el-form-item>
        <el-form-item label="种子图例：" prop="seed_image">
            <input type="file" @change="handleFileChange">
            <el-input v-model="seedInfo.seed_image" placeholder="文件路径"></el-input>
            <img v-if="imagePreview" :src="imagePreview" alt="Seed Image" style="max-width: 100px; margin-top: 10px;">
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm">添加</el-button>
            <el-button @click="resetForm('seedInfo')">重置</el-button>
        </el-form-item>
    </el-form>
</div>
<script>
    new Vue({
        el:"#app",
        data:{
            seedInfo:{
                seed_name:"",
                seed_type:"",
                seed_price:"",
                seed_season:"",
                seed_maturation_time:"",
                seed_image:""
            },
            imagePreview: null
        },
        methods:{
            handleFileChange(event) {
                const file = event.target.files[0];
                if (file) {
                    this.seedInfo.seed_image = event.target.value; // 直接获取输入的文件路径
                    this.imagePreview = URL.createObjectURL(file); // 生成图片预览路径
                } else {
                    this.seedInfo.seed_image = "";
                    this.imagePreview = null;
                }
            },
            submitForm(){
                var _this = this;
                console.log("---------------")
                console.log(JSON.stringify(this.seedInfo))
                $.ajax({
                    url:'/insertSeed',
                    dataType: "JSON",
                    type: "POST",
                    data: JSON.stringify(this.seedInfo),
                    contentType: "application/json",
                    success: function (rs) {
                        if (rs.status === 200){
                            layer.alert(rs.message,{icon:6},function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                parent.location.reload();
                            })
                        }else {
                            layer.alert(rs.message,{icon:5},function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                parent.location.reload();
                            })
                        }
                    },error:function (){
                        _this.$message("服务器错误！")
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
                this.imagePreview = null;
                this.seedInfo.seed_image = "";
            }
        },
    })
</script>
</body>
</html>
