<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script th:src="@{/js/jquery-2.1.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/vue.min.js}" type="text/javascript"></script>
    <script th:src="@{/lib/layui/layui.js}" type="text/javascript"></script>
    <script th:src="@{/js/xadmin.js}" type="text/javascript"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        /*最外层透明*/
        .el-table, .el-table__expanded-cell{
            background-color: transparent;
        }
        /* 表格内背景颜色 */
        .el-table th,
        .el-table tr,
        .el-table td {
            background-color: transparent;
        }
    </style>
</head>
<body>
<!--2.声明vue的作用域-->
<div id="app">
    <br>
    <center>
        <!--模糊查找的搜索框,前面要有查询字样-->
        <el-form :inline="true" :model="seed" class="demo-form-inline">
          <el-form-item label="种子名称: ">
            <el-input v-model="seed.seed_name" placeholder="请输入种子名称"></el-input>
          </el-form-item>
          <el-form-item label="生长季节: ">
            <el-input v-model="seed.seed_season" placeholder="请输入生长季节"></el-input>
          </el-form-item>
            <el-form-item label="成熟时间: ">
                <el-input v-model="seed.seed_maturation_time" placeholder="请输入成熟时间"></el-input>
            </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
        <el-button @click="insertSeed" type="primary" icon="el-icon-circle-plus-outline" circle size="middle">添加</el-button>
    </center>
    <br>
    <template>
        <el-table
                header-align="center"
                :data="tableData"
                border>
            <el-table-column
                    label="序号"
                    align="center"
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="seed_name"
                    align="center"
                    label="名称"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="seed_type"
                    align="center"
                    label="类型"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="seed_price"
                    align="center"
                    label="价格"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="seed_season"
                    align="center"
                    label="生长季节"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="seed_maturation_time"
                    align="center"
                    label="成熟时间(天)"
                    width="150">
            </el-table-column>
            <el-table-column
                prop="seed_image"
                align="center"
                label="种子图例"
                width="150">
                <template slot-scope="scope">
                    <img v-if="scope.row.seed_image" :src="scope.row.seed_image" alt="种子图例" style="width: 50px; height: 50px;">
                </template>
            </el-table-column>
            </el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-button @click="insertSeed" type="primary" icon="el-icon-circle-plus-outline" circle size="small"></el-button>
                    <el-button @click="openUpdate(scope.row)" type="primary" icon="el-icon-edit" circle size="small"></el-button>
                    &nbsp;
                    <el-popconfirm
                            confirm-button-text='删除'
                            cancel-button-text='取消'
                            confirm-button-type='danger'
                            icon="el-icon-info"
                            icon-color="red"
                            @confirm="deleteSeedSubmit(scope.row.seed_name)"
                            :title="title">
                        <el-button  type="danger" icon="el-icon-delete" circle size="small"
                                    slot="reference" @click="setTitle(scope.row.seed_name)">
                        </el-button>
                    </el-popconfirm>

                </template>
            </el-table-column>
        </el-table>
    </template>
</div>
<!--3.创建vue对象-->
<script>
    new Vue({
        /*4.绑定vue(el表达式绑定)*/
        el:"#app",
        /*5.声明数据对象*/
        data:{
            tableData: [],
            title:'',
            seed:{
                seed_name:"",
                seed_season:"",
                seed_maturation_time:"",
            },
        },
        /*6.方法声明*/
        methods:{
            loadData(){
                var _this= this;
                $.ajax({
                    url:"/selectSeedAllResultVo",
                    dataType: "JSON",  /*请求的数据类型*/
                    type: "POST",  /*请求方式*/
                    contentType: "application/json",
                    success: function (rs) {     /*如果请求成功，则执行success这里面的方法，rs表示后端发送过来的数据*/
                        console.log(rs)
                        if (rs.status === 200) { //登录成功,进行跳转
                            _this.tableData = rs.data;
                           /* _this.$message(rs.message)*/
                        }else {
                            _this.$message(rs.message)
                        }
                    },error:function (){
                        _this.$message("服务器错误！")
                    }
                })
            },

            onSubmit(){
                var _this= this;
                $.ajax({
                    url:"/selectSeedByNameAndSeasonAndCycle",
                    dataType: "JSON",  /*请求的数据类型*/
                    type: "POST",  /*请求方式*/
                    data: JSON.stringify(this.seed),  /*将前端对象以JSON数据格式格式发送给后端（Java）*/
                    contentType: "application/json",
                    success: function (rs) {     /*如果请求成功，则执行success这里面的方法，rs表示后端发送过来的数据*/
                        console.log(rs)
                        if (rs.status === 200) { //登录成功,进行跳转
                            _this.tableData = rs.data;
                           /* _this.$message(rs.message)*/
                        }else {
                            _this.$message(rs.message)
                        }
                    },error:function (){
                        _this.$message("服务器错误！")
                    }
                })
            },
            /*编辑按钮*/
            openUpdate(seed){
                console.log(seed)
                // seed对象，转为json字符串,updateSeedInfo相当于一个变量，这个里面有seed数据，seed数据是JSOn数据格式
                localStorage.setItem("updateSeedInfo", JSON.stringify(seed))
                // x_admin_show(打开窗口的名字，打开窗口的路径，宽度，高度)函数是layui里面提供的，用来打开一个页面窗口
                x_admin_show("修改种子数据","/api/SeedUpdate", 500,500)
            },
            deleteSeedSubmit(seed_name){
                var _this= this;
                $.ajax({
                    url:"/deleteSeedByName",
                    dataType: "JSON",  /*请求的数据类型*/
                    type: "POST",  /*请求方式*/
                    data:{
                        seed_name:seed_name
                    },
                    //contentType: "application/json",
                    success: function (rs) {     /*如果请求成功，则执行success这里面的方法，rs表示后端发送过来的数据*/
                        console.log(rs)
                        if (rs.status === 200) { //登录成功,进行跳转
                            _this.$message(rs.message)
                            location.reload();
                        }else {
                            _this.$message(rs.message)
                        }
                    },error:function (){
                        _this.$message("服务器错误！")
                    }
                })
            },
            /*删除提示框*/
            setTitle(seed_name){
               this.title =  '你是否确定删除【'+seed_name+'】吗？'
            },
            insertSeed(){
                x_admin_show("添加种子数据","/api/SeedInsert",600,500);
            }

        },
        /*7.文档加载事件*/
        mounted(){
            this.loadData();
        },
    })
</script>

</body>
</html>